body {
    font-family: 'Roboto Mono', monospace;
    color: #eee;
    overflow-y: scroll;

    padding-bottom: 50px;
}

h3,
h6 {
    color: #888;
    margin: 0;
    margin-bottom: 8px;
}

h6 {
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 0;
}

label {
    display: block;
    font-size: 11px;
    margin-bottom: 3px;
}

textarea {
    resize: none;

    &#directionsInput {
        height: 50px;
    }
}

form {
    .form-section {
        margin-bottom: 14px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .one-line {
        display: flex;

        .form-group {
            flex: 1;

            input {
                width: 100%;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                box-sizing: border-box;
            }
        }

        .form-group+.form-group {
            padding-left: 10px;
        }
    }
}

#searchButton {
    display: block;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}